@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #2a2a2b;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica;
}
.News {
  align-items: center;
  margin-top: 15px;
}
.big {
  font-size: 1.2em;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.newsImage {
  width: 100%;
  height: auto;
}
.blockNews {
  z-index: 0;
  text-align: justify;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 300px;
  overflow: hidden;
}
.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 8px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

.nav {
  margin-top: 25px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

.nav-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;
}
.nav-item :before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}
.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}
.newsArticle {
  color: white;
  line-height: 1.1;
}

.newsAuthor,
.newsPublishedAt {
  margin: 5px;
  display: inline-block;
  color: white;
}

::-webkit-input-placeholder {
  color: #c9c9c9;
}

:-moz-placeholder {
  color: #c9c9c9;
}

::-moz-placeholder {
  color: #c9c9c9;
}

:-ms-input-placeholder {
  color: #c9c9c9;
}
legend {
  margin-bottom: 1rem;
  font-size: 1em;
  color: black;
}

fieldset {
  border: none;
  padding: 0;
  color: white;
}

label {
  font-weight: 400;
}

button,
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 4px;
}

input[type="text"] {
  box-sizing: border-box;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.75);
  display: block;
  margin: 0 0 0.875rem;
  padding: 0.875rem;
  font-weight: 400;
}

button:not(#back) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  max-width: 410px;
  padding: 0.875rem;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  background: #82b541;
  color: white;
}
button:not(#back):hover {
  cursor: pointer;
  background: #6f9b38;
}

.fadein-stagger > * {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
.fadein-stagger > *:nth-of-type(1) {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}
.fadein-stagger > *:nth-of-type(2) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.fadein-stagger > *:nth-of-type(3) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.fadein-stagger > *:nth-of-type(4) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.fadein-stagger > *:nth-of-type(5) {
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
.fadein-stagger > *:nth-of-type(6) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.fadein-stagger > *:nth-of-type(7) {
  -webkit-transition-delay: 350ms;
  transition-delay: 350ms;
}
.fadein-stagger > *.js-animated {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}
.btn {
  margin: 0 0 0.875rem;
  margin-left: 10px;
}
.marvel-device .screen {
  height: auto;
  width: 800px;
  text-align: left;
  background: #002b36;
}
.screen {
  height: auto;
  width: 800px;
  display: inline-block;
  text-align: left;
  background: #002b36;
}
#logo {
  -webkit-filter: invert(50%);
  filter: invert(50%);
  max-width: 100%;
  padding: 2rem 1rem 1rem;
}

.form {
  padding: 1rem;
  width: 100%;
  color: black;
}
.form ul {
  overflow: auto;
}

.city-search {
  width: 100%;
}

.form-field input {
  width: 100%;
}

.city {
  margin-bottom: 0;
  width: 100%;
  font-size: 1.375em;
  font-weight: 700;
  text-align: center;
  color: white;
}

.summary {
  margin-bottom: 0;
  margin-top: 1.75rem;
  font-size: 1em;
  font-weight: 400;
}

.hourly {
  word-wrap: break-word;
}
.hourly b {
  display: block;
  padding: 0.5rem 0 0.5rem 0;
  color: black;
}
.hourly ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hourly ul li {
  margin: 0.1875rem;
}
.hourly ul li:not(:last-of-type)::after {
  content: ",";
}

#back {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
  width: 30%;
  padding: 1rem;
  z-index: 1;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  background: #82b541;
  color: white;
}
#back:hover {
  cursor: pointer;
  background: #6f9b38;
}

.graphic {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.48),
    0 1px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}
.graphic canvas {
  display: block;
  height: 100%;
  width: 100%;
}

#forecast {
  height: 100%;
  margin: auto;
  width: 100%;
}
#forecast > li {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background: #114856;
}

.card {
  padding: 0.5rem;
  width: 100%;
}

.front.card > div {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.48),
    0 1px 0 rgba(255, 255, 255, 0.1);
  padding-bottom: 1rem;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input[type="checkbox"]:checked + label {
  padding-left: 10px;
  color: white;
}
input[type="checkbox"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #82b541;
}

label[for="celsius"],
label[for="celsius"]::before {
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

label[for="celsius"] {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 1.5;
  cursor: pointer;
}
label[for="celsius"]::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #82b541;
  border-radius: 2px;
  z-index: -1;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
b {
  color: black;
}

.grid {
  background: #eee;
  max-width: 1200px;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  border-radius: 10px;
}
.searchForm {
  margin-top: 1000px;
}
